.movie-detail-container {
    display: flex;
    gap: 2rem;
    margin: 20px;
  }
  
  .poster img {
    border-radius: 8px;
    max-width: 300px;
  }
  
  .details {
    max-width: 600px;
  }
  
  .loading {
    text-align: center;
    padding: 50px;
  }